#signup-card {
    background-color: #FFFFFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 28vw;
    height: 70vh;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    margin-right: 8vw;
    margin-top: 2%;
    margin-bottom: 1vh;
}

#signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px; /* Ajuste o padding conforme necessário */
}

#form-header {
    font-size: 48px;
    color: #003366;
    margin-bottom: 16px;
    text-align: center;
}

#header-description {
    color: #003366;
    font-size: 16px;
    text-align: center;
    margin-bottom: 4vh;
    margin-left: 2vw;
    margin-right: 2vw;
}

#signup-input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#signup-input-box {
    width: 100%;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

#signup-input-box label {
    color: #003366;
    margin-bottom: 5px;
    text-align: left;
}

#signup-input-box input {
    font-size: 16px;
    border: 1px solid #003366;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
}

#signup-input-box span {
    color: #9f0805;
    font-size: 14px;
    margin-top: 4px;
}

#signup-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
}

.form-button {
    background-color: #003366 !important;
    color: #ffffff;
    border: none;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
    transition: background-color 0.3s, filter 0.3s;
}

.form-button:hover {
    filter: brightness(1.8);
}

#register-bnt:disabled {
    background-color: #6C6C6C;
    opacity: 65%;
    cursor: not-allowed;
}

.elipse-signup {
    position: fixed;
    width: 50vw;
    height: 100vh;
    top: 0;
    right: 0;
    z-index: -1;
    overflow: hidden;
}

.elipse-signup img {
    height: 150vh;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

#animate-spin {
    animation: spin 1s linear infinite;
}

@media (max-width: 900px) {
    #signup-card {
        width: 90%;
        margin: 0 auto;
        height: auto; /* Ajuste para a altura automática para melhor responsividade */
    }

    #signup-form {
        width: 90%; /* Aumente a largura do formulário para um layout responsivo */
    }

    #signup-input-group {
        width: 100%;
    }

    #signup-input-box {
        width: 100%;
    }
}
