.container-navbar {
  width: 100%;
  background-color: #ffff;
  height: 7vh;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  /*margin-bottom: 5rem;*/
  display: flex;
}

.container-navbar img {
  width: 18vw;
  height: 7vh;
}

.button-navbar{
  display: flex;
  align-items: center;
}
.button-navbar button {
  background-color: #ffff;
  color: #003366;
  border: none;
  font-size: 18px;
  padding-right: 75px;
  cursor: pointer;
  /*margin-top: 1.5rem;*/
}
.button-navbar a {
  text-decoration: none;
  color: #003366;
}
.button-navbar :hover {
  background-color: #ffff;
  color: #006633;
  cursor: pointer;
}

.dropdown-navbar-users {
  display: flex;
  align-items: center;
  margin-left: 0.1px;
  /*position: relative;*/
  /*display: inline-block;*/
  /*margin-top: 1rem;*/
}

.users-navbar {
  background-color: #ffff;
  color: #003366;
  padding: 4px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  /*padding-right: 75px;*/

}

.dropdown-users-navbar {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-users-navbar a {
  color: #003366;
  width: 15vw;
  text-decoration: none;
  display: block;
  font-size: 20px;
  padding: 4px 4px;
}

.dropdown-users-navbar a:hover {
  background-color: #003366;
  color: #ffff;
}

.dropdown-navbar-users:hover .dropdown-users-navbar {
  display: block;
}

.dropdown-navbar-users:hover .users-navbar {
  background-color: #ffff;
  color: #006633;
}

.printers-navbar {
  background-color: #ffff;
  color: #003366;
  padding: 10px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  /*margin-top: 0.5rem;*/
  /*height: 2vh;*/
}

.dropdown-printers-navbar {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-printers-navbar a {
  color: #003366;
  width: 15vw;
  text-decoration: none;
  display: block;
  font-size: 20px;
  padding: 2px 2px;
}

.dropdown-printers-navbar a:hover {
  background-color: #003366;
  color: #ffff;
}

.dropdown-navbar-printers{
  display: flex;
  align-items: center;
  margin-left: 3rem;
}
.dropdown-navbar-printers:hover .dropdown-printers-navbar {
  display: block;
}

.dropdown-navbar-printers:hover .printers-navbar {
  background-color: #ffff;
  color: #006633;

}
