.container-navbar-contact {
  width: 100%;
  background-color: #ffff;
  height: 7vh;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 5rem;
  display: flex;
}

.container-navbar-contact img {
  width: 18vw;
  height: 7vh;
}

.button-navbar-contact button {
  background-color: #ffff;
  color: #003366;
  border: none;
  font-size: 18px;
  padding-right: 75px;
  cursor: pointer;
  margin-top: 1.5rem;
}
.button-navbar-contact a {
  text-decoration: none;
  color: #003366;
}
.button-navbar-contact:hover {
  background-color: #ffff;
  color: #006633;
  cursor: pointer;
}
