#printer-pattern-signup-card {
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  min-width: 38vw;
  width: 38vw;
  min-height: fit-content;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  margin-top: 10vh;
  margin-bottom: 1rem;
  margin-right: 50vw;
  padding-top: 20px;
  padding-bottom: 20px;
}

#printer-pattern-fields {
  height: fit-content;
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 14px;
  gap: 10px;
}

#printer-pattern-form-header {
  color: #003366;
  margin: 0;
  width: 100%;
  text-align: center;
}

#printer-pattern-input-group {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#printer-pattern-input-line {
  flex: 1;
  min-width: 100px; /* Largura mínima para cada input */
  display: flex;
  width: 250px;
  flex-direction: column;
  padding: 0px;
  box-sizing: border-box;
}

#printer-pattern-snmp-fields {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 20px
}

#snmp-fields-input-line {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

#snmp-fields-input-line label{
  display: flex;
  width: 380px;
}

#printer-pattern-input-box {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 0 20px;
  box-sizing: border-box;
}

#label-checkbox {
  top: 10rem;
}

#printer-pattern-input-box label {
  font-size: 16px;
  color: #003366;
}

#printer-pattern-input-box span {
  color: #9f0805;
}

#input-checkbox {
  margin-top: 2rem;
  display: flex;
  align-items: center;
}

#input-checkbox input {
  margin: 0 12px 0 0;
  vertical-align: middle;
  position: relative;
  top: -3px;
}

#printer-pattern-fields input {
  font-size: 14px;
  border: 1px solid #003366;
  border-color: #003366;
  border-radius: 10px;
  padding: 5px;
}

#snmp-fields-input-line input {
  font-size: 14px;
  border: 1px solid #003366;
  border-color: #003366;
  border-radius: 10px;
  padding: 5px;
  height: 18px;
}

#printer-pattern-buttons {
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.printer-pattern-form-button {
  height: 40px;
  width: 12vw;
  text-align: center;
  color: #ffffff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  padding: 0.5rem;
  font-weight: bold;
}

.printer-pattern-form-button:hover {
  filter: brightness(1.8);
}

#cancel-bnt {
  background-color: hsl(355, 96%, 36%);
  border-color: #9f0805;
  transition: background-color 0.3s, filter 0.3s;
}

#registrar-bnt {
  transition: background-color 0.3s, filter 0.3s;
  background-color: #006633;
}

#registrar-bnt:disabled {
  background-color: #6c6c6c !important;
  opacity: 65%;
  cursor: not-allowed;
}

#input-description {
  color: #6c6c6c;
  font-size: 10px;
}

.elipse-pattern {
  position: fixed;
  width: 50vw;
  height: 100vh;
  top: 0;
  right: 0;
  z-index: -1;
  bottom: 2px;
  color: #003366;
  overflow: hidden;
}

.elipse-pattern img {
  height: 100%;
  width: 100%;
}

@keyframes spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

#animate-spin{
  animation: spin 1s linear infinite;
  margin-right: 4px;
}
