.signup-card {
    background-color: #FFFFFF;
    border-radius: 10px;
    display: flex;
    width: 30vw;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    padding: 1rem 5rem;
    margin-right: 5rem;
    margin-top: 1rem;
}

.form-header {
    font-size: 48px;
    color: #003366;
    font-size: 48px;
    margin-bottom: 16px;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 16px 0;
}

.input-line {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px; 
}

.input-box {
    flex: 1;
    min-width: 100px; /* Largura mínima para cada input */
    display: flex;
    width: 250px;
    flex-direction: column;
    margin-bottom: 16px;
    padding: 0 10px;
    box-sizing: border-box;
}

.input-box label {
    color: #003366;
    display: block;
    margin-bottom: 5px;
}

.input-box span {
    color: #9f0805;
}

.input-checkbox {
    display: flex;
    align-items: center;
}

.input-box input{
    font-size: 16px;
    border: 1px solid #003366;
    border-color: #003366;
    border-radius: 10px;
    padding: 5px;
}

.input-box select{
    font-size: 16px;
    border: 1px solid #003366;
    border-color: #003366;
    border-radius: 10px;
    padding: 5px;
    color: #6C6C6C;
}






.buttons {
    display: flex;
    align-items: center;
}

.buttons button {
    display: inline-block;
    flex-direction: column;
    color: #ffffff;
    border-radius: 20px;
    border: none;
    padding: 10px 30px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}

.buttons button:hover {
    filter: brightness(1.8);
}

.cancelar-bnt {
    background-color: #003366;
    transition: background-color 0.3s, filter 0.3s;
}

.registrar-bnt {
    margin-left: 8px;
    transition: background-color 0.3s, filter 0.3s;
    background-color: #006633;
}