/* Card */
#signup-card {
  background-color: #FFFFFF;
  border-radius: 10px;
  display: flex;
  width: 32vw;
  height: fit-content;
  flex-direction: column;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  margin-top: 6%;
  margin-right: 8vw;
  padding-top: 30px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

/* Header */
#form-header {
  font-size: 48px;
  width: 100%;
  color: #003366;
  margin-bottom: 30px;
}

/* Form */
#signup-form{
  width: 100%;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#animate-spin{
    animation: spin 1s linear infinite;
    margin-right: 4px;
}

#signup-input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

#signup-input-line {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}

#signup-input-box {
    flex: 1;
    min-width: 100px; /* Largura mínima para cada input */
    display: flex;
    width: 250px;
    flex-direction: column;
    margin-bottom: 16px;
    box-sizing: border-box;
}

#label-checkbox {
    top: 10rem;
}

#signup-input-box label {
    color: #003366;
    display: block;
    margin-bottom: 5px;
}

#signup-input-box span {
    color: #9f0805;
}

#signup-input-box input{
  min-height: 30px;
  font-size: 16px;
  border: 1px solid #003366;
  border-color: #003366;
  border-radius: 10px;
}

#signup-input-description {
  color: #6C6C6C;
  font-size: 14px;
  height: 50px;
}

#signup-input-checkbox {
    margin-top: 2rem;
    display: flex;
    align-items: center;
}

#signup-input-checkbox input {
    margin:0 12px 0 0;
    vertical-align: middle;
    position: relative;
    top: -3px;
}

#signup-input-box select{
    font-size: 16px;
    font-size: 1rem;border: 1px solid #003366;
    border-color: #003366;
    border-radius: 10px;
    padding: 5px;
    color: #6C6C6C;
}

#signup-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
}

.singup-form-button {
    display: inline-block;
    flex-direction: column;
    color: #ffffff;
    border: none;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    width: 180px;
}


.signup-form-button:hover {
    filter: brightness(1.8);
}

#signup-cancel-bnt {
    background-color: #003366;
    transition: background-color 0.3s, filter 0.3s;
}

#signup-cancel-bnt a {
    color: #ffffff;
    text-decoration: none;
}

#signup-register-bnt {
    margin-left: 8px;
    transition: background-color 0.3s, filter 0.3s;
    background-color: #006633;
}


#signup-register-bnt:disabled {
    background-color: #6C6C6C !important;
    opacity: 65%;
    cursor: not-allowed;
}
