.change-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
  
.image-container {
  height: inherit;
  width: 395vw;

  display: flex;
  align-items: center;
  justify-content: center;
}
  
.form-title {
  font-family:Jost;
  font-size: 48px;
  height: 70px;
  width: 400px;
}
  
.form-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 300vw;
  
  
  /* position: relative; */
}

.elipse{
  position: absolute;
  width: 43vw;
  height: 100vh;
  top:1px;
  right: 1px;
  z-index: 1;
  bottom: 2px;
}

.elipse img{
  width: 45vw;
  height: 100vh;
}

.form{
  width: 428px;
  height: 536px;
  margin-left: 50px;
}
.input-container {
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 400px;
  height: 500px;
  border: 1px solid #ccc;
  
  background-color: #fff;
  text-align: center;
  border-radius: 10px;
  margin-top: 150px;
  box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.25);
}
  
.form-group {
  width: 400px;
  height: 200px;
  
  /*margin: 10px 0;
  margin-top: 150px;*/
}

.button-container{
  
  width: 400px;
  height: 50px;
 
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}

.button {
  
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  justify-self: center;
  border-radius: 50px;
}

.input-form-container {
  margin-top: 15px;
}
  
label {
  display: flex;
  margin-left: 60px;
  font-size: 16px;
}
  
input {
  width: 300px;
  padding: 10px;
  margin-top: 5px;
  border-radius: 10px;
}
  

.input-field::placeholder {
    font-family:Jost;
    font-size: 16px; /* Tamanho da fonte desejado */
    color: #999; /* Cor do texto do placeholder, se desejar */
    /* Outros estilos desejados */
  }
  
