#signup-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#signup-container img{
    margin-left: 10vw;
    margin-top: 3vh;
}

@media (max-width: 900px) {
    #signup-container img{
        display: none;
    }
}