.signup-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.signup-container img{
    margin-left: 10rem;
}

@media (max-width: 900px) {
    .input-line {
        display: block; 
    }
}