#editPattern-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#editPattern-container img {
  margin-left: 5vw;
  width: 45vw;
}

@media (max-width: 900px) {
  #editPattern-container img {
    display: auto;
  }
}
