/* barra azul superior */
.impressorasCadastradas-page {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  text-align: left;
  font-family: var(--font-jost);
}




/* letras dentro da barra azul superior */
.impressorasCadastradas-cabecalho{ 
  height: 10vh;
  color: #ffffff;
  font-family: var(--font-jost);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #003366;
  padding-left: 1vw;
}

.impressorasCadastradas-cabecalho h2{
  margin: 0;
  font-size: 40px;
}

.impressorasCadastradas-cabecalho-icones{
  
  height: 10vh;
  width: 50vw;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.impressorasCadastradas-image img{
  height: 5vh;
} 


.impressorasCadastradas-cabecalho-input{
  display: flex;
  align-items: center;
  width: 23vw;
  height: 4vh;
}

.input-pesquisa-impressoras{
  width: 23vw;
  height: 4vh;
}
