/* Docker da Pagina  */
.impressorasCadastradas-page {
  position: relative;
  width: 100vw;
  height: 100vh;
  /* background-color: red; */
  /*overflow: hidden;*/
  text-align: left;
}


/* Dcoker Cabecalho, barra azul e posicao inicial */
.impressorasCadastradas-cabecalho{ 
  height: 10vh; 
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #003366;
  padding-left: 8px;
}


/* tamanho da fonte do cabecalho */
.impressorasCadastradas-cabecalho h2{
  margin: 8px;
  font-size: 40px;
}


/* Docker dos icones e do input */
.impressorasCadastradas-cabecalho-icones{
  height: 8.392vh;
  width: 43.5755vw;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-self: flex-end;
  align-items: center;
}


/* Docker da barra de input para ser a barra de pesquisa */
.impressorasCadastradas-cabecalho-input{
  display: flex;
  justify-content: end;
  margin-bottom: 15px;
  width: 20vw;
  height: 4vh;
}


.impressorasCadastradas-cabecalho-input Input {
  height: 2.5vh;
}


/* barra de input para ser a barra de pesquisa */ 
.input-pesquisa-impressoras{
  display: flex;
  height: 3.9vh;
  width: 19.62vw; 
  flex-shrink: 0; 
}


/* imagens (icones) e onde estarao originalmente */
.impressorasCadastradas-cabecalho-imagens{
  display: flex;
  justify-content: space-between;
  height: 4.4756vh;
  width: 5.534vw;
}


/* img da classe dos icones para setar suas distancias */
.impressorasCadastradas-cabecalho-imagens img{
  display: flex;
  height: 3.3566vh;
  width: 1.5625vw;
}


.impressorasCadastradas-RespostaFiltro h5{
  margin: 8px;
  font-size: 25px;
  padding-left: 10px;
}


.impressorasCadastradas-Lista{
  height: 18vh; 
  width: 100vw;
  color: #003366;
  font-size: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 5px 5px -3px black;
}


.impressorasCadastradas-Lista h6{
  margin: 0;
  display: flex;
  flex-direction: column;
  font-weight: lighter;
}


.impressoras-modelo{
  display: flex;
  flex-direction: column;
}
.impressoras-modelo h4{
  width: 20vw;
  margin: 0;
  padding-left: 1rem;
}
.impressoras-modelo h5{
  padding-top: 0.8rem;
  padding-left: 1rem;
  color: #BF1B1B;
  margin: 0;
}


.impressoras-identificacao{
  display: flex;
  flex-direction: column;
  height: 15vh;
  width: 30vw;
  justify-content: space-around;
  padding-left: 1rem;
}


.impressoras-unidade-contador{ 
  display: flex;
  flex-direction: column;
  height: 15vh;
  width: 15vw;
  justify-content: space-around;
  padding-left: 1rem;
}


.data-ultimo-contador{
  height: 15vh;
  width: 25vw;
  display: flex;
  align-items: center;
}
.data-ultimo-contador h4{   /*h4?*/
  margin: 0;
  font-weight: lighter;
}


/* Dropdown */
.impressorasCadastradas-Lista-img{ 
  display: flex;
  flex-direction: column;
  height: 6vh;
  width: 4vw;
  margin-right: 20px;
  cursor: pointer;
}


.impressorasCadastradas-dropdown-container {
  align-self: flex-start;
}


.impressorasCadastradas-dropdown {
  display: none;
  position: absolute;
  right: 0px;
  background-color: #f9f9f9;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.impressorasCadastradas-dropdown a {
  color: #003366;
  text-decoration: none;
  display: block;
  font-size: 20px;
  padding: 4px 4px;
}
.impressorasCadastradas-dropdown a:hover {
  background-color: #003366;
  color: #fff;
}
.impressorasCadastradas-Lista-img:hover .impressorasCadastradas-dropdown {
  display: flex;
  flex-direction: column;
}


/* Modal */
.deactivate-modal-buttons {
  display: none;
}
