/* Container */
.patternlist-container {
    background-color: #FFFF; /* Cor de fundo semelhante */
  }
  
  /* Header */
  .patternlist-header { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #003366; /* Cor do cabeçalho */
    color: #ffffff;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra no cabeçalho */
  }
  
  .patternlist-header-title h2 {
    margin: 0;
    font-size: 24px; /* Tamanho do título ajustado */
  }
  
  .patternlist-header-title h4 {
    margin-top: 4px; /* Espaço entre o título e o filtro */
    font-size: 18px; /* Tamanho do filtro ajustado */
    color: #bbb; /* Cor mais suave para o filtro */
  }
  
  /* Filtro e barra de pesquisa */
  .patternlist-header-search-filter {
    position: relative; /* Posição relativa para posicionar corretamente o dropdown */
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .patternlist-header-search-filter input {
    height: 40px;
    width: 250px; /* Largura adequada para a barra de pesquisa */
    padding: 0 15px;
    font-size: 16px; /* Tamanho de fonte legível para a pesquisa */
    border-radius: 4px;
    border: 1px solid #ddd;
  }
  
  .patternlist-filter img {
    width: 24px;
    height: auto;
  }
  
  /* Dropdown do filtro */
  .patternlist-filter-dropdown-container {
    position: absolute; /* Posicionamento absoluto para o dropdown */
    top: 100%; /* Posiciona o dropdown logo abaixo do filtro */
    right: 0;
    background-color: #ffffff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 4px;
    z-index: 2; /* Garante que o dropdown apareça acima dos outros elementos */
  }
  
  .patternlist-dropdown-filter {
    display: none; /* Inicialmente oculto */
  }
  
  .patternlist-filter:hover .patternlist-dropdown-filter {
    display: block; /* Mostra o dropdown quando o mouse passa por cima */
  }
  
  .patternlist-dropdown-filter a {
    display: block;
    padding: 10px 20px;
    font-size: 16px; /* Tamanho da fonte dos links do dropdown */
    color: #003366;
    text-decoration: none;
    border-radius: 4px;
  }
  
  .patternlist-dropdown-filter a:hover {
    background-color: #003366;
    color: #ffffff;
  }
  
  /* Lista de Padrões */
  .patternlist-pattern {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    margin-bottom: 5px; /* Espaço reduzido entre os padrões */
    padding: 20px; /* Padding uniforme */
    border-radius: 4px; /* Bordas arredondadas */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra dos cartões */
  }
  
  .patternlist-pattern h4, .patternlist-pattern h5, .patternlist-pattern h6 {
    margin: 0;
    color: #333; /* Cor do texto */
  }
  
  .patternlist-pattern h5 {
    color: #BF1B1B; /* Cor para status desativado */
    margin-top: 4px;
  }
  
  /* Dropdown da engrenagem */
  .patternlist-engine {
    position: relative; /* Ajuste para a posição relativa */
    cursor: pointer;
    display: flex;
    align-items: center; /* Centraliza verticalmente o ícone da engrenagem */
    justify-content: center; /* Centraliza horizontalmente o ícone da engrenagem */
  }
  
  .patternlist-engine img {
    width: 24px; /* Tamanho do ícone da engrenagem */
    height: auto;
  }
  
  .patternlist-engine-dropdown {
    display: none; /* Inicialmente oculto */
    position: absolute; /* Absoluto para posicionamento específico */
    right: 0;
    top: 100%; /* Posiciona o dropdown logo abaixo do ícone */
    background-color: #ffffff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 4px;
    z-index: 1;
  }
  
  .patternlist-engine:hover .patternlist-engine-dropdown {
    display: block; /* Mostra o dropdown quando o mouse passa por cima */
  }
  
  .patternlist-pattern-dropdown a {
    display: block;
    padding: 10px 20px; /* Espaçamento interno do link */
    font-size: 16px; /* Tamanho da fonte do link */
    color: #003366;
    text-decoration: none;
    border-radius: 4px; /* Bordas arredondadas */
  }
  
  .patternlist-pattern-dropdown a:hover {
    background-color: #003366;
    color: #ffffff;
  }
  
  /* Global font size adjustment for readability */
  .patternlist-pattern h4,
  .patternlist-pattern h5,
  .patternlist-pattern h6 {
    font-size: 16px; /* Ajuste para um tamanho de fonte maior */
  }
  
 
  