#register-printer-pattern-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#register-printer-pattern-container img {
  /*margin-left: 5vw;*/
  margin-left: 4vw;
  width: 50vw;
}

@media (max-width: 900px) {
  #registerPrinter-container img {
    /* width: 100px; */
    display: auto;
  }
}
