/* Container */
.patternlist-container{
  position: relative;
  width: 100vw;
  height: 100vh;
  text-align: left;
}

/* Header */
.patternlist-header{
  height: 10vh;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #003366;
  padding-left: 20px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.patternlist-header-title {
    display: flex;
    flex-direction: column;
}

.patternlist-header-title h2 {
    margin: 0px;
    font-size: 35px;
}

.patternlist-header-title h4 {
    margin: 0px;
    font-size: 20px;
    padding-left: 20px;
}

.patternlist-header-search-filter {
    display: flex;
    align-items: center;
    justify-content: end;
    width: fit-content;
    height: 100%;
    gap: 20px;
}

.patternlist-header-search-filter input{
    height: 2.4vh;
    width: 20vw;
    margin-bottom: 8px;
}

.patternlist filter {
    display: block;
}

/* Filter dropdown */
.patternlist-filter:hover{
    cursor: pointer;
}

.patternlist-dropdown-filter {
  display: none;
  position: absolute;
  right: 0px;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.patternlist-dropdown-filter a{
    color: #003366;
    text-decoration: none;
    display: block;
    font-size: 20px;
    padding: 4px 4px;
}

.patternlist-dropdown-filter a:hover{
    background-color: #003366;
    color: #fff;
}

.patternlist-filter:hover .patternlist-dropdown-filter {
    display: flex;
    flex-direction: column;
}

/* Padrão */
.patternlist-pattern {
    height:18vh;
    width: 100vw;
    color: #003366;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 5px 5px -3px black;
    padding-left: 20px;
    padding-right: 20px;
}

.patternlist-pattern h6 {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-weight: lighter;
}

.patternlist-model{
    display: flex;
    flex-direction: column;
}

.patternlist-model h4{
    width: 60vw;
    margin: 0;
    padding-left: lrem;
    cursor: pointer;
}

.patternlist-model a{
    text-decoration: none;
    color: #003366;
}

.patternlist-model a:visited{
    text-decoration: none;
    color: #003366;
}

.patternlist-model h5{
    padding-top: 0.8rem;
    padding-left: lrem;
    color: #BF1B1B;
    margin: 0;
}

/* Dropdown padrão */
.patternlist-engine {
    display: flex;
    flex-direction: column;
    height: 4vh;
    width: 4vw;
    margin-right: 40px;
    cursor: pointer;
}


.patternlist-pattern-dropdown {
    display: none;
    position: absolute;
    right: 0px;
    background-color: #f9f9f9;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.patternlist-pattern-dropdown a{
    color: #003366;
    text-decoration: none;
    display: block;
    font-size: 20px;
    padding: 4px 4px;
}

.patternlist-pattern-dropdown a:hover{
    background-color: #003366;
    color: #fff;
}

.patternlist-engine:hover .patternlist-pattern-dropdown{
    display: flex;
    flex-direction: column;
}

/* Modal */
.deactivate-modal-buttons{
    display: none;
}
